<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>
				LIFE-HACK
			</h3>
		</div>
		<div class="col-md-2">

			<button type="button" class="btn btn-outline-danger btn-md">
				<a routerLink="/movies">MOVIES</a>
			</button>
		</div>
		<div class="col-md-2">

			<button type="button" class="btn btn-outline-danger btn-md">
				NEWS
			</button>
		</div>
		<div class="col-md-2">

			<button type="button" class="btn btn-outline-danger btn-md">
				WEATHER
			</button>
		</div>
		<div class="col-md-2">

			<button type="button" class="btn btn-md btn-outline-danger ml-4">
				RESTAURANT
			</button>
		</div>
	</div>
</div>
</nav>
