<div class="margin-top"></div>
 <div class="card my-3">
      <img id="imgsize" class="card-img-top" src="{{baseUrl}}{{movie.poster_path}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title one">{{movie.title}}</h5>
        <div id="scroll" class="card-text rubic">{{movie.overview}}</div>
        <p class="card-text"><small class="text-muted">{{movie.release_date}}</small></p>
        <button type="button"  class="btn btn-primary" (click)="deleteMovie(movie)">DELETE</button>
      </div>
    </div>
